

.row{
    display: flex;
}
.leftSection{
    width: 40%;


}
.rightSection{
    width: 60%;
    margin-left: 3%;
}
.smallImg{ 
    margin: 2%;
    width: 22%;
}
.group-small-img{
    display: flex;
    width: 100%;
    justify-content: space-between;
 }

 .addCartBtn {
    padding: 9px;
    border-radius: 3px;
    color: whitesmoke;
    background-color: rgb(231, 122, 20);
    border: none;
    font:bolder ;

 }


 .buyBtn:hover{
    opacity: .7;
 }

 #quantity:focus{
    outline: none;

 }
 #bigImg:hover{
    transition: all .3s ;
    transform: scale(1.1);    
 }

 .smallImg:hover{
    opacity: .7;
    transition: all .3s ;
    transform: scale(1.2);
 }



